{% assign publishDate = post.date | default: page.date | date: '%s' %}
{% assign nowTimestamp = 'now' | date: '%s' %}
{% assign diffSeconds = nowTimestamp | minus: publishDate %}
{% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}
{% assign result = "" %}

{% if diffDays == 0 %}
{% assign result = site.data.config.date_today %}
{% endif %}

{% if diffDays == 1 %}
{% assign result = site.data.config.date_singular_day_ago %}
{% endif %}

{% if diffDays > 1 and diffDays < 30 %}
{% assign result = site.data.config.date_plural_days_ago | replace: "[n]", diffDays %}
{% endif %}

{% if diffDays >= 30 and diffDays < 60 %}
{% assign result = site.data.config.date_singular_month_ago %}
{% endif %}

{% if diffDays >= 60 and diffDays < 365 %}
{% assign months = diffDays | divided_by: 30 %}
{% assign result = site.data.config.date_plural_months_ago | replace: "[n]", months %}
{% endif %}

{% if diffDays >= 365 and diffDays < 730 %}
{% assign result = site.data.config.date_singular_year_ago %}
{% endif %}

{% if diffDays >= 730 %}
{% assign years = diffDays | divided_by: 365 %}
{% assign result = site.data.config.date_plural_years_ago | replace: "[n]", years %}
{% endif %}

{% if result %}
<span class="days-ago" title="{{ publishDate | date: site.data.config.date_pretty_format }}">{{ result }}</span>
{% endif %}