<header>
    <div class="container">

        <h1 class="post-title">{{ page.title }}</h1>

        <div class="post-metadata a-flex-center">

            <div class="post-metadata-left a-flex-center">

                {% include logo.html %}
                <div class="post-metadata-info">
                    <div class="post-meta-extra a-flex-center">
                        <time class="post-date txt_secondary" datetime="{{ page.date | date: '%Y-%m-%d' }}">
                            {{ page.date | date: site.data.config.date_pretty_format }}
                        </time>
                        <i class="circle-separator"></i>
                        {% include read-time.html %}
                    </div>
                    <div class="post-tags">
                        <div class="tags-list--small a-flex-center">
                            {% for tag in page.tags %}
                            {% include tag-item.html tag=tag %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

            <div class="post-metadata-right"></div>

        </div>

    </div>
</header>