<li class="post-item">
    <div class="post-item--inner">


        <h3 class="post-item--title"><a class="post-item--link" href="{{ post.url | absolute_url }}">{{ post.title }}</a></h3>

        {% if post.description %}
        <div class="post-item--description">{{ post.description | markdownify }}</div>
        {% endif %}

        <div class="post-item--bottom a-flex-center">

            <div class="post-item--metadata a-flex-center">
                <time class="post-item--time txt_secondary" datetime="{{ post.date | date: '%Y-%m-%d' }}">{% include days-ago.html %}</time>

                <i class="circle-separator"></i>

                {% include read-time.html %}
            </div>

            <div class="post-item--tags tags-list--small a-flex-center">
                {% for tag in post.tags %}
                {% include tag-item.html tag=tag %}
                {% endfor %}
            </div>

        </div>

    </div>
</li>