ul.posts {list-style:none;}
li.post-item:not(:last-child) {margin-bottom:var(--a-space-small);}

.post-item--inner {
    padding:var(--a-padding);
    border-radius:10px;
    background-color:var(--a-post-item-background);
    border:1px solid var(--a-border);
}

/* title */
.post-item--title {margin-bottom:10px; font-size:var(--a-font-body);}

/* description */
.post-item--description {color:var(--a-body-color); margin-bottom:5px;}

/* metadata */
.post-item--bottom {font-size:var(--a-font-small); padding-top:5px;}
.post-item--metadata {padding-right:15px;}

/* responsive */
@media only screen and (max-width:768px) {
    .post-item--inner {border-radius:6px;}

    .post-item--bottom {display:block;}
    .post-item--metadata {padding-right:0;}
    .post-item--tags {padding-top:5px;}
}